{{- define "cooking" -}}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>kcalc | Cooking</title>
	{{ template "head" . }}

	<script>
		function showFoodsList (value) {
			return up.render({
				abort: 'all',
				target: '#foods-list',
				url: '/cookings/{{.cooking.ID}}/available-foods',
				params: { search: value },
			})
		}

		up.compiler('#cooking-food-manager', function name(element) {
			const id = element.querySelector('#form-add-food [name=id]')
			const name = element.querySelector('#form-add-food [name=name]')
			const kcal = element.querySelector('#form-add-food [name=kcal]')
			function clearID () {
				id.value = ""
			}
			up.watch(name, clearID)
			up.watch(kcal, clearID)
			up.watch(name, { delay: 100 }, showFoodsList)
			up.on('food:select', e => {
				id.value = e.id
				name.value = e.name
				kcal.value = e.kcal
			})
		})
	</script>
</head>
<body>
	<h1>Cooking</h1>
	<pre>{{ .cooking | dump }}</pre>

	<div id="cooking-food-manager">
		<form
			method="post"
			action="/cookings/{{.cooking.ID}}/foods"
			id="form-add-food"
			enctype="multipart/form-data"
		>
			<input type="text" name="id" style="width: 3em;">
			<input type="text" name="name" required placeholder="alimento"/>
			<input style="width: 3em;" type="number" placeholder="kcal" required min="0" step=".01" name="kcal">
			<input style="width: 5em;" type="number" placeholder="gramos" required min="0" step=".01" name="g">
			<button type="submit" >+</button>
			<br>
			<input type="file" id="photo" name="photo" accept="image/*">
		</form>
		<div
			style="
				max-width: 100%;
				max-height: 15rem;
				overflow-x: hidden;
				overflow-y: scroll;
			">
			<style>
				#foods-list a {
					display: flex;
					width: 100%;
					align-items: center;
				}
				#foods-list a:hover {
					background-color: beige;
				}
				#foods-list a > div:nth-child(1) {
					height: 2rem;
					width: 2rem;
					padding: 3px;
				}
				#foods-list a img {
					max-width: 100%;
					aspect-ratio: 1/1;
					border-radius: 5px;
				}
				#foods-list a > div:nth-child(2) {
					padding: 0 0.5rem;
				}
				#foods-list a > div:nth-child(3) {
					flex-grow: 1;
				}
			</style>
			<div id="foods-list"></div>
		</div>
	</div>
</body>
</html>
{{- end -}}