{{- define "cpanel" -}}
<!DOCTYPE html>
<html lang="en">
<head>
	{{ template "cpanel_head" }}

	<style>
		img {
			max-width: 100px;
			max-height: 100px;
		}
	</style>
</head>
<body>
	<form
		method="get"
		action="/cpanel"
		up-autosubmit
		up-watch-delay="150"
		up-focus="keep"
		up-target="#foods-table">
		<input type="search" name="search" />
	</form>
	<button
		up-href="/foods/new"
		up-layer="new"
		up-mode="modal"
		up-target="form"
	>+ alimento</button>
	{{ template "foods_table" . }}
</body>
</html>
{{- end -}}