{{- define "foods_list" -}}
<div id="foods-list">
{{ range .foods }}
	<a
		style="display: flex;"
  	up-emit='food:select'
  	up-emit-props='{ "id": {{.ID}}, "name": "{{.Name}}" }'
	>
		<div
			style="
				height: 2rem;
				width: 2rem;
			"
		>
			{{ if .Image.URI | len }}
				<img
					style="max-width: 100%; aspect-ratio: 1/1;"
					src="/content/{{.Image.URI}}"
				/>
			{{ end }}
		</div>
		<div>
			{{ .Name }}
		</div>
	</a>
{{end}}
</div>
{{end}}