{{- define "foods_table" -}}
<div id="foods-table" up-main>
	<div>
		{{ .total }} alimento{{if gt .total 1 }}s{{end}}
	</div>
	{{ template "pagination" . }}
	<table>
		<caption>
			Foods
		</caption>
		<thead>
			<tr>
				<th>Food ID</th>
				<th>Locales</th>
				<th>Details</th>
				<th>Images</th>
			</tr>
		</thead>
		<tbody>
			{{ range .foods }}
			<tr>
				<th>{{ .ID }}</th>
				<td> {{/* LOCALES */}}
					<table>
						{{ range $langID, $locale := .Locales }}
						<tr>
							<th>{{ index $.langByID $langID }}</th>
							<td>{{ $locale.Value }}</td>
						</tr>
						{{ end }}
					</table>
				</td>
				<td> {{/* DETAILS */}}
					<table>
						{{ range $sourceID, $detail := .DetailBySource }}
						<tr>
							<th style="font-size: 0.75em;">{{ index $.sourceByID $sourceID }}</th>
							<td>{{ printf "%.2f" $detail.KCal }}</td>
						</tr>
						{{ end }}
						{{ range $userID, $detail := .DetailByUser }}
						<tr>
							<th style="font-size: 0.75em;">user({{ $userID }})</th>
							<td>{{ printf "%.2f" $detail.KCal }}</td>
						</tr>
						{{ end }}
					</table>
				</td>
				<td> {{/* IMAGES */}}
					<table>
						{{ range $sourceID, $img := .ImageBySource }}
						<tr>
							<th style="font-size: 0.75em;">{{ index $.sourceByID $sourceID }}</th>
							<td>
								<img src="/assets/{{ $img.URI }}"  decoding="async" loading="lazy" />
							</td>
						</tr>
						{{ end }}
						{{ range $userID, $img := .ImageByUser }}
						<tr>
							<th style="font-size: 0.75em;">user({{ $userID }})</th>
							<td>
								<img src="/assets/{{ $img.URI }}"  decoding="async" loading="lazy" />
							</td>
						</tr>
						{{ end }}
					</table>
				</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
	{{ template "pagination" . }}
</div>
{{- end -}}